<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <!doctype html>
<html lang="en"  
   </head>
<body>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-light text-right">
       
             
            </div>
        </div>

        <center>
            <h1><strong>Hotel Review Sentiment Analysis</strong></h1>
			
				<h4>
         <form action="/pred", method="POST">
              <div class="form-group row">
                  <div class="col-md-50">
                      
                      <input type="textarea"  name="text"  placeholder="Enter your review here" required="required" />
                  </div>
              
               </div>     
            <button type="submit" class="btn btn-success btn-lg">Predict</button>


        </center>

        

        </em></h3><br>

    </div>

</body>
</html>